<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Mood Tracker</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <img src="/assets/images/MoodTracker_logo.png" alt="MoodTracker_logo" class="logo">
    </header>

    <!-- Main Content Section -->
    <main>
        <h1>Welcome to Mood Tracker</h1>
        <div class="button-container">
            <button class="btn" onclick="location.href='/login'">Log In</button>
            <button class="btn" onclick="location.href='/signup'">Sign Up</button>
        </div>
    </main>

    <!-- Footer Section -->
    <footer>
        <p>Take the time today to love yourself</p>
    </footer>
</body>
</html>
